PORT=
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME=""
DB_PORT=
DB_HOST=""
JWT_SECRET="hmmradiochecktutududumaxverstappen"
ENV_TYPE="localhost"
DEFAULT_USERNAME=""
DEFAULT_PASSWORD=""
DEFAULT_DISPLAYNAME=""
FRONTEND_URL=''  